<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xlsx
sheetName=settings
value=en
xmlPathSrc=C:\\Users\\pcxu\\Desktop\\excel_test\\test_settings.xml
xmlPathDst=C:\\Users\\pcxu\\Desktop\\excel_test\\test_settings_dst.xml
</xlsx2xml>

<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xlsx
sheetName=test
value=zh-rTW
xmlPathSrc=C:\\Users\\pcxu\\Desktop\\excel_test\\test_test.xml
xmlPathDst=C:\\Users\\pcxu\\Desktop\\excel_test\\test_test_dst.xml
</xlsx2xml>


