<xml2xlsx>
xmlPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xml
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xlsx
sheetName=settings
language=zh-rCN,en
value=zh-rCN
</xml2xlsx>

<xml2xlsx>
xmlPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xml
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xlsx
sheetName=test
language=zh-rCN,en
value=zh-rTW
</xml2xlsx>

