<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xlsx
sheetName=settings
value=zh-rCN
xmlPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test_settings.xml
</xlsx2xml>

<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test.xlsx
sheetName=test
value=zh-rTW
xmlPath=C:\\Users\\pcxu\\Desktop\\excel_test\\test_test.xml
</xlsx2xml>


