<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_t2\\20160810_X2 中文UI语言整理_繁体.xlsx
sheetName=hdmi in
value=繁体中文
xmlPathSrc=C:\\Users\\pcxu\\Desktop\\excel_t2\\hdmiin_src.xml
xmlPathDst=C:\\Users\\pcxu\\Desktop\\excel_t2\\hdmiin_rTW.xml
</xlsx2xml>

<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_t2\\20160810_X2 中文UI语言整理_繁体.xlsx
sheetName=launcher
value=繁体中文
xmlPathSrc=C:\\Users\\pcxu\\Desktop\\excel_t2\\launcher_src.xml
xmlPathDst=C:\\Users\\pcxu\\Desktop\\excel_t2\\launcher_rTW.xml
</xlsx2xml>

<xlsx2xml>
xlsxPath=C:\\Users\\pcxu\\Desktop\\excel_t2\\20160810_X2 中文UI语言整理_繁体.xlsx
sheetName=video
value=繁体中文
xmlPathSrc=C:\\Users\\pcxu\\Desktop\\excel_t2\\video_src.xml
xmlPathDst=C:\\Users\\pcxu\\Desktop\\excel_t2\\video_rTW.xml
</xlsx2xml>


